@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'landing.scss';
@import 'days.scss';

.navbar {
  .dropdown-menu {
    width: 100%;
  }
}

body {
  margin-top: 50px;
  font-weight: 200;
}

.thing {
  width: 50%;
  margin: 0;
}
